<a class='waves-effect waves-light btn' href="#modal-login">Foster/Employee Login</a>
<div id='modal-login' class='modal'>

    <div class="modal-content">
      <div>
        <p>Sign in with Google:</p>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
      </div>
      <div>
        <p>Sign in with Email &amp; Password:</p>
        <form id="localLogin" action="/login_local" method="post">
          <label for="email">Email:</label>
          <input id="email" type="text" name="email" value="">
          <label for="pwd">Password:</label>
          <input id="pwd" type="text" name="pwd" value="">
        </form>
        <%# <input type="submit" name="submit" value="submit">%>
      </div>
    </div>
    <div class="modal-footer">
      <button type='submit' href="#!" form="localLogin" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</button>
    </div>
</div>
