<a class='waves-effect waves-light btn' href="#modal1">Foster/Employee Login</a>
<div id='modal1' class='modal'>

    <div class="modal-content">
      <div>
        <p>Sign in with Google:</p>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
      </div>
      <div>
        <p>Sign in with Email &amp; Password:</p>
        <form>
          <label for="email">Email:</label>
          <input id="email" type="text" name="" value="">
          <label for="">Password:</label>
          <input id="pwd" type="text" name="" value="">
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
    </div>
</div>
